.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height:100vh;
}
h1 span{
  font-size:0.4em;
}
.App > h2{
  background:black;
  color:white;
  width:100%;
  padding:1em;
  text-align: center;
  margin:0;
}
.video{
  display: flex;
  width:auto;
  margin:auto 0;
}
.video-feed{
  display:flex;
  justify-content: center;
  position: relative;
  align-items: center;;
  border-radius: 1em;
  width:60vmin;
  overflow:hidden;
  height:40vmin;
  border:5px solid black;
  margin:1em;
  box-sizing: border-box;
}
.video-feed .current-number{
  color:white;
  font-size:4em;
  position: absolute;
  top:100%;
  transform: translateY(-180%);
}
button{
}
.sequence{
  display:flex;
  flex-direction:column;
  box-sizing: border-box;
  width: 200px;
  font-size:1em;
  justify-content: space-evenly;
  align-items:center;
  margin:0;
}
.sequence p, button{
  margin:0.25em 0.5em; ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height:1.5em;
  font-size:2em;
  width:5em;
  border:2px solid black;
  border-radius: 5px;
  background:white;
  transition:all 200ms ease-in;
  cursor: pointer;
}
.sequence p.pending{
  border-color: rgba(240, 141, 11, 1);
  background:rgba(240, 141, 11, 0.609);
}
button:hover{
  background: black;
  color:white;
}
.status{
  position: absolute;
  width:100%;
  text-align:right;
  box-sizing: border-box;
  padding:1em;
  bottom:0;
}
.svg-icon{
  width:100%;
  height:auto;
}
.loading{
  width:1em;
  height:1em;
  display:inline-block;
  border-radius:50%;
  padding:0.75em;
  margin:0 0.25em;
  border:2px double rgb(255, 166, 0);
}
.loaded{
  width:1em;
  height:1em;
  display:inline-block;
  border-radius:50%;
  padding:0.75em;
  border:2px double rgb(20, 112, 20);
  margin:0 0.25em;
}
.result{
  margin:0;
  width:100%;
  font-size:4em;
  text-align: center;
}
.result.success{
  background: rgb(57, 236, 57);
}
.result.fail{
  background: rgb(202, 12, 12);
}